body{
	margin: 0px;
	background: #212C39;
}

.form-login{
	width: 225px;
    margin: 170px auto auto;
    background: #149F85;
    padding: 35px 60px;
}

.control-group{
	margin-bottom: 20px;
}

.controls .loginFrom{
    width: 225px;
    padding: 10px;
    border: 0px;
    border-radius: 4px;
}

.btn-primary{
	color: #fff;
    background: #178572;
    border: 0px;
    font-size: 16px;
    margin: auto;
    display: block;
    padding: 10px 40px;
    border-radius: 5px;
}

.form-actions{
	padding-bottom: 25px;
}

