.form-signin .l {
    float: left;
}

.form-signin .r{
    float: right;
}
.cl{
    clear: both;
}


.groupKandidat{

	width: 50%;
	text-align: center;

}

.border{
	width: 400px;
	margin: auto;
	margin-bottom: 20px;
	/*box-shadow: 0px 0px 7px #888888;*/
	box-shadow: 0px 0px 80px 0px #888888;
}

.border-shad{
	    box-shadow: 0px 0px 100px 10px #888888;
}

.casual{
	width: 200px;
	height: 300px;
	overflow: hidden;
	position: relative;
}

.casual img{
	min-width: 200px;
	min-height: 300px;
	max-height: 300px;
	position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}

.header{
	text-align: center;
	margin: 25px 0px 45px 0px;
}

.header p{
	color: #474342;
    font-style: italic;
    margin-top: 5px;
}

.btn-primary{
	color: #fff;
    background: #178572;
    border: 0px;
    font-size: 16px;
    margin: auto;
    display: block;
    padding: 10px 40px;
    border-radius: 5px;
}

body{
	margin: 0px;
}

.botton{
	margin-top: 15px;
}

.hli {

    border:2px solid blue;
    
}