#dzone-dropdown-menu, #dzone-dropdown-menu #menu-button, #dzone-dropdown-menu ul, #dzone-dropdown-menu ul li, #dzone-dropdown-menu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    #dzone-dropdown-menu:after, #dzone-dropdown-menu > ul:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    #dzone-dropdown-menu #menu-button {
        display: none;
    }

#dzone-dropdown-menu {
    width: auto;
    background: #DF0100;
    z-index: 88;
}

    #dzone-dropdown-menu.align-center > ul {
        font-size: 0;
        text-align: center;
    }

    #dzone-dropdown-menu.align-center ul ul {
        text-align: left;
    }

    #dzone-dropdown-menu.align-center > ul > li {
        display: inline-block;
        float: none;
    }

    #dzone-dropdown-menu.align-right > ul > li {
        float: right;
    }

    #dzone-dropdown-menu.align-right ul ul {
        text-align: right;
    }

    #dzone-dropdown-menu > ul > li {
        float: left;
    }

        #dzone-dropdown-menu > ul > li > a {
            padding: 10px 25px;
            font-size: 15px;
            color: #fff;
            letter-spacing: 1px;
            text-decoration: none;
            -webkit-transition: color .2s ease;
            -moz-transition: color .2s ease;
            -ms-transition: color .2s ease;
            -o-transition: color .2s ease;
            transition: color .2s ease;
        }

            #dzone-dropdown-menu > ul > li.active > a, #dzone-dropdown-menu > ul > li:hover > a, #dzone-dropdown-menu > ul > li > a:hover {
                color: #000;
            }

    #dzone-dropdown-menu ul ul {
        position: absolute;
        left: -9999px;
        opacity: 0;
        -webkit-transition: top .2s ease,opacity .2s ease;
        -moz-transition: top .2s ease,opacity .2s ease;
        -ms-transition: top .2s ease,opacity .2s ease;
        -o-transition: top .2s ease,opacity .2s ease;
        transition: top .2s ease,opacity .2s ease;
    }

    #dzone-dropdown-menu > ul > li > ul {
        top: 91px;
        padding-top: 3px;
    }

    #dzone-dropdown-menu > ul > li:hover > ul {
        left: auto;
        top: 31px;
        opacity: 1;
    }

    #dzone-dropdown-menu.align-right > ul > li:hover > ul {
        right: 0;
    }

    #dzone-dropdown-menu ul ul ul {
        top: 40px;
        border-width: 1px 1px 1px 0;
        border-style: solid;
        border-color: #E3E3E3;
        background: #fff;
    }

    #dzone-dropdown-menu ul ul > li:hover > ul {
        top: 0;
        left: 178px;
        padding-left: 0;
        opacity: 1;
    }

    #dzone-dropdown-menu.align-right ul ul > li:hover > ul {
        left: auto;
        right: 178px;
        padding-left: 0;
        padding-right: 10px;
        opacity: 1;
    }

    #dzone-dropdown-menu ul ul li a {
        width: 180px;
        padding: 7px 25px;
        font-size: 15px;
        font-weight: 400;
        color: #000;
        text-decoration: none;
        background: #fff;
        -webkit-transition: color .2s ease;
        -moz-transition: color .2s ease;
        -ms-transition: color .2s ease;
        -o-transition: color .2s ease;
        transition: color .2s ease;
    }

    #dzone-dropdown-menu ul ul li.active > a, #dzone-dropdown-menu ul ul li:hover > a, #dzone-dropdown-menu ul ul li > a:hover {
        color: #000;
        background-color: #E3E3E3;
    }

    #dzone-dropdown-menu.align-right ul ul > li.has-sub > a:after {
        right: auto;
        left: 12px;
    }

    #dzone-dropdown-menu ul ul > li.has-sub:hover > a:after {
        background-position: 0 -18px;
    }

    #dzone-dropdown-menu ul ul > li.has-sub > a:before {
        top: 10.5px;
        right: 16px;
        border-top-color: transparent;
        border-left-color: #000;
    }

    #dzone-dropdown-menu.align-right ul ul > li.has-sub > a:before {
        top: 15.5px;
        right: auto;
        left: 16px;
        border-top-color: transparent;
        border-right-color: #000;
        border-left-color: transparent;
    }

    #dzone-dropdown-menu ul ul > li.has-sub:hover > a:before {
        border-top-color: transparent;
        border-left-color: #000;
    }

    #dzone-dropdown-menu.align-right ul ul > li.has-sub:hover > a:before {
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: #000;
    }

  /* #dzone-dropdown-menu ul ul li:hover > ul, #dzone-dropdown-menu ul ul ul,*/ #dzone-dropdown-menu ul ul ul li:hover > ul, #dzone-dropdown-menu.align-center > ul, #dzone-dropdown-menu.align-right ul ul, #dzone-dropdown-menu.align-right ul ul li:hover > ul, #dzone-dropdown-menu.align-right ul ul ul li:hover > ul{
        display: none;
    }



/*=================TAMBAHAN====================*/

.mobile-menu{cursor:pointer;}
.closebtn{display:none;}
@media screen and (max-width:991px) {
    #dzone-dropdown-menu{
        width:0;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed !important;
        z-index: 9999 !important;
        top: 0;
        left: 0;
        background-color: #f4f7f6 !important;
        overflow-x: hidden;
        transition: .5s;
        padding-top: 60px !important;
        text-align: center;
    }

        .sidenav a.closebtn {
            text-decoration: none;
            font-size: 36px !important;
            color: #202121;
            display: block;
            transition: .3s;
        }

        .sidenav a:hover {
            opacity: .75;
        }

        .sidenav .closebtn {
            position: absolute;
            top: -15px;
            right: 15px;
            text-align: right;
        }


    #dzone-dropdown-menu>ul>li {
        float: none
    }

    #dzone-dropdown-menu.jm-menu>ul>li>a {
        text-align: left;
        text-shadow: none
    }

    #dzone-dropdown-menu.jm-menu>ul>li.has-sub>a:after,
    #dzone-dropdown-menu.jm-menu>ul>li>a:before {
        display: none
    }

    #dzone-dropdown-menu>ul>li>ul {
        top: 0
    }

    #dzone-dropdown-menu ul ul {
        left: 0;
        opacity: 1
    }

    #dzone-dropdown-menu ul ul li a {
        background: 0 0;
        text-align: left
    }

    #dzone-dropdown-menu.jm-menu ul ul li:first-child>a {
        border-top: none
    }

    #dzone-dropdown-menu.jm-menu.cssmenu,
    #dzone-dropdown-menu.jm-menu.cssmenu a,
    #dzone-dropdown-menu.jm-menu.cssmenu li,
    #dzone-dropdown-menu.jm-menu.cssmenu ul {
        margin: 0;
        padding: 0;
        border: 0;
        list-style: none;
        font-weight: 400;
        text-decoration: none;
        line-height: 1;
        font-size: 14px;
        position: relative
    }

    #dzone-dropdown-menu.jm-menu.cssmenu>ul>li:first-child>a {
        border-top: 1px solid #e6eaea
    }

    #dzone-dropdown-menu.jm-menu.cssmenu a {
        line-height: 1.3
    }

    #dzone-dropdown-menu.jm-menu.cssmenu>ul>li:first-child>a>span {
        padding: 0
    }

    #dzone-dropdown-menu.jm-menu.cssmenu>ul>li {
        background: #f4f7f6
    }

    #dzone-dropdown-menu.jm-menu.cssmenu>ul>li:hover {
        background: #fcfcfc
    }

    #dzone-dropdown-menu.jm-menu.cssmenu>ul>li>a {
        position: relative;
        display: block;
        padding: 24px 36px;
        font-size: 14px;
        color: #202121;
        cursor: pointer;
        background: #f4f7f6;
        border-bottom: 1px solid #e6eaea;
        -webkit-transition: background .3s ease-in-out, border .3s ease-in-out, color .3s ease-in-out;
        transition: background .3s ease-in-out, border .3s ease-in-out, color .3s ease-in-out
    }

    #dzone-dropdown-menu.jm-menu.cssmenu>ul>li>a:hover {
        text-decoration: none;
        background-color: #fcfcfc
    }

    #dzone-dropdown-menu.jm-menu.cssmenu>ul>li.active {
        border-bottom: none
    }

    #dzone-dropdown-menu.jm-menu.cssmenu>ul>li.has-sub>a {
        background: url(/Template/minimal/theme/default/img/plus.svg) 96% center no-repeat;
        background-size: 20px
    }

    #dzone-dropdown-menu.jm-menu.cssmenu>ul>li.has-sub.active>a {
        background: url(/Template/minimal/theme/default/img/minus.svg) 96% center no-repeat;
        background-size: 20px
    }
    /*
    #dzone-dropdown-menu.jm-menu.cssmenu ul ul li.has-sub a {
        background: url(/Template/minimal/theme/default/img/plus.svg) 96% center no-repeat;
        background-size: 20px
    }

    #dzone-dropdown-menu.jm-menu.cssmenu ul ul li.has-sub.active2 a {
        background: url(/Template/minimal/theme/default/img/minus.svg) 96% center no-repeat;
        background-size: 20px
    }*/

    #dzone-dropdown-menu.jm-menu.cssmenu ul ul {
        display: none
    }

    #dzone-dropdown-menu.jm-menu.cssmenu ul ul li {
        padding: 24px 36px;
        text-align: left;
        font-size: 17px;
        font-weight: 700;
        color: #202121;
        cursor: pointer;
        background: #f4f7f6;
        border-bottom: 1px solid #e6eaea;
        -webkit-transition: background .3s ease-in-out, border .3s ease-in-out, color .3s ease-in-out;
        transition: background .3s ease-in-out, border .3s ease-in-out, color .3s ease-in-out
    }

    #dzone-dropdown-menu.jm-menu.cssmenu ul ul li:hover {
        background: #fcfcfc
    }

    #dzone-dropdown-menu.jm-menu ul ul li.active>a,
    #dzone-dropdown-menu.jm-menu ul ul li:hover>a,
    #dzone-dropdown-menu.jm-menu ul ul li>a.active,
    #dzone-dropdown-menu.jm-menu ul ul li>a:hover {
        background-color: transparent
    }

    .wrap-header #dzone-dropdown-menu > ul > li:hover > ul {
    left: 0 !important;
    }
    #dzone-dropdown-menu.jm-menu ul ul>li.has-sub>a:after{display:none;}
}

@media screen and (max-height:450px) {
    .sidenav {
        padding-top: 15px
    }
    .sidenav a {
        font-size: 18px
    }
}