.account-access {
    min-width: 300px;
    padding: 32px 16px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 0;
}

.page-account-access {
    padding-left: 0;
    padding-right: 0;
}

.account-access .forget-link {
    margin-bottom: 0;
    margin-top: 16px;
}

    .account-access .forget-link a {
        font-size: 12px !important;
        font-weight: 400 !important;
        margin-bottom: 0;
    }

.account-access .social-buttons {
    margin: 12px 0;
}

    .account-access .social-buttons a {
        width: 49%;
    }

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

    .btn-fb:hover {
        color: #fff;
        background-color: #496ebc;
    }

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

    .btn-tw:hover {
        color: #fff;
        background-color: #59b5fa;
    }

.icon-addon {
    position: relative;
    color: #555;
    display: block;
    margin-bottom: 8px;
}

.page-account-access .icon-addon {
    margin-bottom: 16px;
}

.icon-addon .help-block {
    color: red;
    margin-bottom: 0;
}

.icon-addon .form-control {
    padding-left: 40px;
    font-weight: normal;
    box-shadow: none;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.04);
    height: 40px;
    line-height: 40px;
}

.page-account-access .icon-addon .form-control {
    background-color: #fff;
}

.icon-addon .material-icons {
    position: absolute;
    left: 12px;
    font-size: 18px;
    top: 11px;
}

.wrap-account-access .form-group:last-child {
    margin-top: 16px;
    margin-bottom: 0;
}

.page-account-access .form-group:last-child {
    margin-top: 24px;
}

.btn-login-access {
    background-color: #00AA00;
}

    .btn-login-access:hover {
        background-color: #070;
    }

.btn-register-access {
    background-color: #FF6600;
}

    .btn-register-access:hover {
        background-color: #dd5800;
    }

.btn-register-access,
.btn-login-access {
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    font-weight: 700 !important;
    padding: 10px !important;
}

    .btn-login-access:focus,
    .btn-login-access:active {
        background-color: #dd5800;
    }

    .btn-register-access:hover,
    .btn-register-access:focus,
    .btn-register-access:active,
    .btn-login-access:hover,
    .btn-login-access:focus,
    .btn-login-access:active {
        color: #fff;
        border: none;
    }

.suggest-info-login {
    margin-bottom: 10px;
}

.form-captcha .captcha-input,
.form-captcha .captcha-code {
    margin: 0 !important;
}

.form-captcha .captcha-input {
    font-size: 0;
}

.form-group .captcha-input .form-control {
    padding-left: 12px;
}

.form-group .captcha-code img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    border: 1px solid #ddd;
}

.form-group .captcha-code {
    padding-right: 4px;
    width: 32%;
}

.form-group .captcha-input {
    padding-left: 4px;
    width: 68%;
}

h2.background {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 32px;
}
/* Large desktops and laptops */

@media (min-width: 1200px) {
    .button-small-pd > .row [class*="col-"]:first-child {
        padding-right: 4px;
    }

    .button-small-pd > .row [class*="col-"]:last-child {
        padding-left: 4px;
    }
}
/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
    .form-group .captcha-code {
        width: 39%;
    }

    .form-group .captcha-input {
        width: 61%;
    }

    .button-small-pd > .row [class*="col-"]:first-child {
        padding-right: 4px;
    }

    .button-small-pd > .row [class*="col-"]:last-child {
        padding-left: 4px;
    }
}
/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
    .form-group .captcha-code {
        width: 21%;
    }

    .form-group .captcha-input {
        width: 79%;
        border-radius: 0;
    }
}
/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .account-access {
        color: #fff;
    }

        .account-access .bottom {
            background-color: inherit;
            border-top: 0 none;
        }
}
/* Portrait phones and smaller */

@media (max-width: 480px) {
    .page-account-access {
        min-width: inherit;
    }

    .form-group .captcha-code {
        width: 33%;
    }

    .form-group .captcha-input {
        width: 67%;
    }
}

@media (max-width: 320px) {
    .form-group .captcha-code {
        width: 49%;
    }

    .form-group .captcha-input {
        width: 51%;
    }
}

.account-setting,
.account-setting > div {
    display: block;
}

#top-menu-manager .btn-link:focus,
#top-menu-manager .nav .open > a {
    border-color: transparent;
}