.container {
    background-color: inherit;
}

a {
    color: #0186c8;
    text-decoration: none;
    cursor: pointer;
}

    a:hover,
    a:focus {
        color: #016fa6;
        text-decoration: underline;
    }

a,
button {
    -webkit-transition: color .7s ease, border-color .7s ease, background-color .7s ease;
    transition: color .7s ease, border-color .7s ease, background-color .7s ease;
}

    a:hover,
    button:hover {
        -webkit-transition: color .1s ease, border-color .1s ease, background-color .1s ease;
        transition: color .1s ease, border-color .1s ease, background-color .1s ease;
    }

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 0;
    margin-bottom: 10px;
}

h1,
.h1 {
    font-size: 36px;
}

h2,
.h2 {
    font-size: 30px;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 18px;
}

h5,
.h5 {
    font-size: 14px;
}

h6,
.h6 {
    font-size: 12px;
}

p {
    margin: 0 0 10px;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #eeeeee;
    background-color: transparent;
    height: auto;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
}

.btn {
    color: white;
}

    .btn,
    .btn.disabled,
    .btn[disabled] {
        background-color: #aab2bd;
        border-color: #aab2bd;
    }

        .btn:hover,
        .btn:focus,
        .btn:active,
        .btn.active {
            color: white;
            background-color: #ccd1d9;
            border-color: #B3B3B3;
            outline: none !important;
        }

        .btn:active,
        .btn.active {
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125);
            -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.125);
        }

        .btn.disabled,
        .btn[disabled] {
            filter: alpha(opacity=45);
            opacity: .45;
        }

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active,
.btn-link.disabled,
.btn-link[disabled] {
    color: #3bafda;
    background-color: transparent;
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

    .btn-link:hover,
    .btn-link:focus {
        text-decoration: underline;
    }

.btn-default {
    color: #434a54;
    border-color: #aab2bd !important;
}

    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active,
    .btn-default.active {
        background-color: #ccd1d9;
        border-color: #ccd1d9;
        color: #000;
    }

    .btn-default,
    .btn-default.disabled,
    .btn-default[disabled] {
        background-color: white;
    }

.open .dropdown-toggle.btn-default {
    background-color: #ccd1d9;
    border-color: #ccd1d9;
}

.btn-primary,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    background-color: #3bafda;
    border-color: #3bafda;
    background-image: none;
}

    .btn-primary:hover,
    .btn-primary:focus {
        background-color: #4fc1e9;
        border-color: #4fc1e9;
        background-image: none;
    }

.open .dropdown-toggle.btn-primary {
    background-color: #4fc1e9;
    border-color: #4fc1e9;
}

.btn-info,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    background-color: #37bc9b;
    border-color: #37bc9b;
}

    .btn-info:hover,
    .btn-info:focus {
        background-color: #48cfad;
        border-color: #48cfad;
    }

.open .dropdown-toggle.btn-info {
    background-color: #48cfad;
    border-color: #48cfad;
}

.btn-success,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #8cc152;
    border-color: #8cc152;
}

    .btn-success:hover,
    .btn-success:focus {
        background-color: #a0d468;
        border-color: #a0d468;
    }

.open .dropdown-toggle.btn-success {
    background-color: #a0d468;
    border-color: #a0d468;
}

.btn-warning,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
    background-color: #f6bb42;
    border-color: #f6bb42;
}

    .btn-warning:hover,
    .btn-warning:focus {
        background-color: #ffce54;
        border-color: #ffce54;
    }

.open .dropdown-toggle.btn-warning {
    background-color: #ffce54;
    border-color: #ffce54;
}

.btn-danger,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled],
.btn-danger .open .dropdown-toggle.btn {
    background-color: #e74c3c;
    border-color: #da4453;
}

    .btn-danger:hover,
    .btn-danger:focus {
        background-color: #ec7063;
        border-color: #ed5565;
    }

.open .dropdown-toggle.btn-danger {
    background-color: #ed5565;
    border-color: #ed5565;
}

.btn-group-lg > .btn,
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0;
}

.btn-group-sm > .btn,
.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 0;
    height: auto;
}

    .breadcrumb > .active {
        border-bottom: none;
    }

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    border-top: 1px solid #ddd;
}

/* end css reset */
/* flexbox */
.flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

[class*="col-"] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.start-xs {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
}

.center-xs {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.end-xs {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
}

.top-xs {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.middle-xs {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bottom-xs {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.around-xs {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.between-xs {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.first-xs {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
}

.last-xs {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

/* end flexbox */
body {
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
    line-height: 1.42857;
    background-color: #fff;
    color: #333;
}

/* start new top menu */
#top-menu-manager.new-top-menu #lang-mode .container {
    padding-left: 15px;
    padding-right: 16px;
}

#top-menu-manager.new-top-menu {
    border-top: none;
}

    #top-menu-manager.new-top-menu #lang-mode,
    #top-menu-manager.new-top-menu #lang-mode .container {
        background-color: #292C31;
    }

#top-menu-manager .top-lang-new .dropdown-menu > li > a:hover,
#top-menu-manager .top-lang-new .dropdown .btn {
    background-color: #40454d;
    color: #fff;
}

#panel_before_login.custom_panel_before_login .btn-link,
#lang-mode a {
    color: #fff;
    font-size: 13px;
}

#lang-mode .link-top-cart a .glyphicon {
    color: #15C1C5;
}

#panel_before_login.custom_panel_before_login .btn-link:hover,
#lang-mode a:hover {
    color: #15C1C5;
}

#panel_before_login.custom_panel_before_login .btn-link i,
#panel_before_login.custom_panel_before_login .btn-link:hover {
    color: #15C1C5;
}

#top-menu-manager .top-lang-new .dropdown .btn {
    font-size: 13px;
    padding: 7px 10px;
}

.custom-badge-link {
    font-size: 10px;
    background-color: #40454d;
}

/* end new top menu */
/* start header */
.wrap-header {
    background-color: #fff;
    position: relative;
    padding-top: 35px;
    padding-bottom: 25px;
    box-shadow: 2px 2px 6px rgba(51,51,51,.10);
}

#dzone-dropdown-menu {
    background-color: #fff;
    float: right;
    z-index: 3 !important;
}

    #dzone-dropdown-menu.jm-menu > ul > li > a {
        color: #333;
        text-shadow: none;
        padding: 10px 0;
        margin: 0 7px;
    }

        #dzone-dropdown-menu.jm-menu > ul > li.active > a,
        #dzone-dropdown-menu.jm-menu > ul > li:hover > a,
        #dzone-dropdown-menu.jm-menu > ul > li > a.active,
        #dzone-dropdown-menu > ul > li.active > a,
        #dzone-dropdown-menu > ul > li > a.active,
        #dzone-dropdown-menu > ul > li > a:hover {
            color: #15C1C5;
            background-color: #fff;
        }

    #dzone-dropdown-menu > ul > li:hover > ul {
        left: 7px;
    }

    #dzone-dropdown-menu.jm-menu > ul > li > a:before {
        background-color: #15C1C5;
    }

    #dzone-dropdown-menu.jm-menu > ul > li {
        margin-right: 0;
    }

        #dzone-dropdown-menu.jm-menu > ul > li:last-child a {
            margin-right: 0;
        }

/* end start header */
/* start custom template */
.form-relative {
    margin-top: 32px !important;
}

#bannerservices {
    position: relative;
}

    #bannerservices .slick-slide {
        height: auto !important;
    }

.slick-slide img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.home-slider-nav {
    position: absolute;
    top: 50%;
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    margin-top: -25px;
    width: 100%;
}

    .home-slider-nav .navprev,
    .home-slider-nav .navnext {
        position: absolute;
        padding: 15px 10px 15px 10px;
        color: #fff;
        opacity: 0;
        background: black;
        font-size: 20px;
        line-height: 100%;
    }

    .home-slider-nav .navprev {
        left: 0;
        border-radius: 0 5px 5px 0;
    }

    .home-slider-nav .navnext {
        right: 0;
        border-radius: 5px 0 0 5px;
    }

#bannerservices:hover .home-slider-nav .navnext,
#bannerservices:hover .home-slider-nav .navprev {
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.home-slider-nav .navnext:hover,
.home-slider-nav .navnext:focus,
.home-slider-nav .navprev:hover,
.home-slider-nav .navprev:focus {
    opacity: 1 !important;
    background: rgba(0, 0, 0, 0.6);
}

.home-slider-nav .navprev,
.home-slider-nav .navnext {
    color: #15C1C5;
}

.container header {
    padding-top: 2px;
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    right: 0;
    top: -11px;
    margin-left: 0;
    margin-right: 0;
}

header .search {
    background-color: transparent !important;
    border: none !important;
    padding: 10px 25px !important;
}

    header .search [class*="col-"]:first-child {
        padding-right: 0;
        width: 93.666667%;
    }

    header .search [class*="col-"]:last-child {
        padding-left: 0;
        width: 6.333333%;
    }

    header .search input[type="text"] {
        height: 50px;
        opacity: 0.90;
        border: none !important;
        background-color: #eee;
    }

    header .search .btn-search .btn {
        border: none;
        height: 50px;
        background-color: #15C1C5 !important;
        border-color: #15C1C5 !important;
    }

.hide-text-search {
    display: none;
}

header .search .glyphicon.glyphicon-search {
    font-size: 15px !important;
    top: 3px;
}

.wrap-banner {
    position: relative;
}

    .wrap-banner > .container:first-child {
        background-color: #f5f5f5;
    }

.desc-short-company {
    line-height: 27px;
    position: relative;
    padding-bottom: 20px;
    padding-top: 40px;
}

    .desc-short-company h1 {
        position: relative;
    }

.btn-readmore-company {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    color: white;
    margin-top: 20px;
}

    .btn-readmore-company:hover {
        text-decoration: none;
        color: #fff;
    }

.btn-readmore-company {
    background-color: #383838;
    border-color: #383838;
    background-image: none;
}

    .btn-readmore-company:hover,
    .btn-readmore-company:focus {
        background-color: #000;
        border-color: #000;
        background-image: none;
    }

.wrap-content-primary {
    position: relative;
    background-color: #E6E7E9;
    padding-top: 40px;
    padding-bottom: 60px;
    margin-bottom: -25px;
}

.wrap-content-second {
    position: relative;
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 60px;
    margin-bottom: -25px;
}

    .wrap-content-second hr:first-child {
        display: none;
    }

.wrap-content-primary hr:first-child {
    display: none;
}

.wrap-logo .logo-container {
    margin: 0;
}

.wrap-logo .logo-container img{
    max-height: 70px;
    max-width: 100%;
}

.latest-product-title,
.latest-project-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
    color: #31353E;
}

.latest-promo-project.row-wrap,
.latest-promo.row-wrap {
    margin-left: -5px;
    margin-right: -5px;
}

.latest-promo-project .product-holder,
.latest-promo .product-holder {
    display: inline-block;
    padding: 0px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0;
}

    .latest-promo-project .product-holder .thumbnail,
    .latest-promo .product-holder .thumbnail {
        margin-bottom: 10px;
        padding: 0;
        border: none;
        background-color: #31353E;
        border: 2px solid #31353E;
    }

        .latest-promo-project .product-holder .thumbnail > a > img,
        .latest-promo .product-holder .thumbnail > a > img {
            min-height: 200px;
            max-height: 200px;
            width: 100%;
        }

        .latest-promo-project .product-holder .thumbnail:hover > a,
        .latest-promo .product-holder .thumbnail:hover > a {
            text-decoration: none;
        }

        .latest-promo-project .product-holder .thumbnail .product-desc,
        .latest-promo .product-holder .thumbnail .product-desc {
            padding: 8px;
        }

            .latest-promo-project .product-holder .thumbnail .product-desc .product-name,
            .latest-promo .product-holder .thumbnail .product-desc .product-name {
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 17px;
                text-align: left;
                color: #fff;
                height: auto;
            }

            .latest-promo .product-holder .thumbnail .product-desc .price {
                font-size: 14px;
                color: orange;
                margin: 5px 0 0;
                overflow: hidden;
                text-align: left;
                font-style: italic;
            }

.custom-footer {
    margin-bottom: 0;
    background-color: #024D78;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
}

    .custom-footer a {
        color: #fff;
    }

    .custom-footer .hidden2.mask i {
        font-size: 1.1em !important;
        color: #FFFFFF !important;
    }

.form-contact {
    border: none;
    border-radius: 0;
    background-color: #EAEAEA;
    -webkit-box-shadow: inset 0px 3px 8px 0px rgba(0,0,0,0.92);
    box-shadow: inset 0px 3px 8px 0px rgba(95, 95, 95, 0.92);
}

    .form-contact:focus {
        border-color: #464646;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0, 0, 0, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0, 0, 0, 0.6);
    }

    .form-contact::-webkit-input-placeholder {
        color: #555;
    }

    .form-contact:-moz-placeholder {
        color: #555;
    }

    .form-contact::-moz-placeholder {
        color: #555;
    }

    .form-contact:-ms-input-placeholder {
        color: #555;
    }

.btn-contact-footer {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border-color: #ccc;
    border-radius: 0;
    border-width: 2px;
    font-weight: 700;
    letter-spacing: 2px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

    .btn-contact-footer:hover,
    .btn-contact-footer:focus {
        background-color: #fff;
        border-color: #fff;
        color: #333;
        -webkit-transition: all 300ms ease-in;
        -moz-transition: all 300ms ease-in;
        -ms-transition: all 300ms ease-in;
        -o-transition: all 300ms ease-in;
        transition: all 300ms ease-in;
    }

.control-captcha .col-md-5.col-md-offset-6 {
    margin-left: -5px;
}

.control-captcha .captcha span input {
    border: none;
    border-radius: 0;
    background-color: #EAEAEA;
    -webkit-box-shadow: inset 0px 3px 8px 0px rgba(0,0,0,0.92);
    box-shadow: inset 0px 3px 8px 0px rgba(95, 95, 95, 0.92);
}

.control-select-group .select2-container,
.control-select-group .form-control .select2-choice {
    border-radius: 0 !important;
}

    .control-select-group .select2-container .select2-choice .select2-arrow b {
        background-position-y: 4px;
    }

    .control-select-group .select2-container .select2-choice {
        height: 34px;
        line-height: 34px;
        text-align: left;
    }

        .control-select-group .select2-container .select2-choice abbr {
            top: 10px;
        }


.custom-footer .footer-list h3 {
    font-size: 18px;
}

.control-captcha .captcha span:first-child {
    margin: 4px 5px 0 0 !important;
}

.control-captcha .captcha span {
    margin: 0 0 0 25px !important;
}

.bottom {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

    .bottom .container2 a {
        color: #777;
    }

.title-content-master {
    text-align: center;
}

    .title-content-master h2 {
        margin-bottom: 30px;
    }

.row.grid-3 {
    margin-left: -40px;
    margin-right: -40px;
}

.grid-3 [class*="col-"] {
    width: 33.333333%;
    padding-left: 40px;
    padding-right: 40px;
}

.thumbnail-box {
    padding: 0;
    margin-bottom: 20px;
    border: none;
    background-color: #31353E;
}

    .thumbnail-box .top-title {
        color: #fff;
        padding: 8px;
        text-align: center;
        text-transform: uppercase;
    }

.thumbnail-media img {
    width: 100%;
}

.bottom-caption {
    color: #A9ADAC;
    padding: 10px 5px;
    text-align: center;
    font-size: 13px;
}

.thumbnail-btn-action {
    padding-bottom: 15px;
}

.box-separator-footer {
    background-color: #15C0C7;
    width: 100%;
    height: 25px;
}

.wrap-footer {
    padding-top: 40px;
    padding-bottom: 70px;
    background-color: #292C31;
    color: #fff;
}

    .wrap-footer .hidden2.mask i {
        font-size: 1.1em !important;
        color: #fff !important;
    }

.thumbnail-btn-action .btn {
    text-align: center;
    background-color: #292C31;
    color: #fff;
    border-color: #292C31;
    text-transform: uppercase;
    font-size: 13px;
}

.title-info-footer h3 {
    color: #15C0C7;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 20px;
}

.link-nav-footer ul li {
    margin-bottom: 5px;
}

    .link-nav-footer ul li a {
        color: #929699;
        text-transform: uppercase;
    }

.link-social-media ul li a i {
    color: #15C0C7;
    margin-right: 10px;
    font-size: 22px;
    top: 3px;
    position: relative;
}

.link-social-media ul li a:hover {
    text-decoration: none;
    color: #15C0C7;
}

.link-social-media ul li {
    margin-bottom: 10px;
}

    .link-social-media ul li a {
        color: #929699;
    }

.address-footer {
    color: #929699;
}

.wrap-form-search {
    background-color: #f5f5f5;
    padding: 20px 0;
}

    .wrap-form-search .container header {
        position: relative;
        top: 0;
        padding-top: 0;
    }

    .wrap-form-search header .search {
        margin-bottom: 0;
        padding: 0 !important;
    }

        .wrap-form-search header .search input[type="text"] {
            opacity: 1;
        }

        .wrap-form-search header .search [class*="col-"]:first-child {
            padding-right: 0px;
            width: 91.666667%;
        }

        .wrap-form-search header .search [class*="col-"]:last-child {
            padding-left: 0;
            width: 8.333333%;
        }

        .wrap-form-search header .search [class*="col-"] {
            padding-left: 15px;
            padding-right: 15px;
        }

/* end custom template */
@media (min-width: 1200px) {
    .latest-promo-project .product-holder,
    .latest-promo .product-holder{
        width: 20% !important;
    }
    .container {
        width: 1100px;
    }

    .start-lg {
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        justify-content: flex-start;
        text-align: start;
    }

    .center-lg {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .end-lg {
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        -webkit-box-pack: end;
        justify-content: flex-end;
        text-align: end;
    }

    .top-lg {
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start;
    }

    .middle-lg {
        -webkit-align-items: center;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .bottom-lg {
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        -webkit-box-align: end;
        align-items: flex-end;
    }

    .around-lg {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .between-lg {
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .first-lg {
        -webkit-order: -1;
        -ms-flex-order: -1;
        -webkit-box-ordinal-group: 0;
        order: -1;
    }

    .last-lg {
        -webkit-order: 1;
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .latest-promo-project .product-holder,
    .latest-promo .product-holder{
        width: 20% !important;
    }
    #bannerservices .slick-slide {
        height: auto !important;
    }

    .start-md {
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        justify-content: flex-start;
        text-align: start;
    }

    .center-md {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .end-md {
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        -webkit-box-pack: end;
        justify-content: flex-end;
        text-align: end;
    }

    .top-md {
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start;
    }

    .middle-md {
        -webkit-align-items: center;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .bottom-md {
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        -webkit-box-align: end;
        align-items: flex-end;
    }

    .around-md {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .between-md {
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .first-md {
        -webkit-order: -1;
        -ms-flex-order: -1;
        -webkit-box-ordinal-group: 0;
        order: -1;
    }

    .last-md {
        -webkit-order: 1;
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .latest-promo-project .product-holder,
    .latest-promo .product-holder{
        width: 25% !important;
    }

    .wrap-form-search header .search [class*="col-"]:first-child {
        width: 88.666667%;
    }

    .wrap-form-search header .search [class*="col-"]:last-child {
        width: 11.333333%;
    }

    #bannerservices .slick-slide {
        height: auto !important;
    }

    header .search [class*="col-"]:first-child {
        padding-right: 0;
        width: 90.666667%;
    }

    header .search [class*="col-"]:last-child {
        width: 9.333333%;
    }

    .row.grid-3 {
        margin-left: -15px;
        margin-right: -15px;
    }

    .grid-3 [class*="col-"] {
        width: 33.33333333%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .start-sm {
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        -webkit-box-pack: start;
        justify-content: flex-start;
        text-align: start;
    }

    .center-sm {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        justify-content: center;
    }

    .end-sm {
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        -webkit-box-pack: end;
        justify-content: flex-end;
        text-align: end;
    }

    .top-sm {
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start;
    }

    .middle-sm {
        -webkit-align-items: center;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
    }

    .bottom-sm {
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        -webkit-box-align: end;
        align-items: flex-end;
    }

    .around-sm {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .between-sm {
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .first-sm {
        -webkit-order: -1;
        -ms-flex-order: -1;
        -webkit-box-ordinal-group: 0;
        order: -1;
    }

    .last-sm {
        -webkit-order: 1;
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1;
    }
}

@media (max-width: 767px) {

    .thumbnail-box .top-title{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .wrap-content-primary{
        margin-bottom: -80px;
    }

    #bannerservices .jm-slick {
        height: auto !important;
    }

    .wrap-logo img {
        margin-left: auto;
        max-height: 50px;
    }

    .wrap-header {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .container header {
        position: relative;
        padding-top: 0;
        top: 0;
    }

    header .search {
        padding: 10px 15px !important;
    }

        header .search .btn-search .btn,
        header .search input[type="text"] {
            height: 40px;
        }

        header .search [class*="col-"] {
            padding-left: 0;
        }

    .text-cart {
        display: none !important;
    }

    .bottom-lang {
        display: none;
    }

    .responsive-top-menu a span {
        display: inline-block;
    }

    .wrap-footer {
        padding-bottom: 20px;
    }

        .wrap-footer .container .row [class*="col-"] {
            margin-bottom: 20px;
        }

            .wrap-footer .container .row [class*="col-"]:last-child {
                margin-bottom: 0;
            }

    #bannerservices .slick-slide {
        height: auto !important;
    }

    header .search [class*="col-"]:first-child {
        padding-right: 0;
        width: 78.666667%;
    }

    header .search [class*="col-"]:last-child {
        width: 21.333333%;
    }

    .row.grid-3 {
        margin-left: -5px;
        margin-right: -5px;
    }

    .grid-3 [class*="col-"] {
        width: 50%;
        padding-left: 5px;
        padding-right: 5px;
        float: left;
    }
}

@media (max-width: 480px){
    .wrap-form-search header .search [class*="col-"]:first-child{
            width: 80.666667%;
    }
    .wrap-form-search header .search [class*="col-"]:last-child{
            width: 19.333333%;
    }
}

/*# sourceMappingURL=style.css.map */
.fm-title-content {
    color: #15C0C7;
}
table.m-view.fm-short-contact {
    color: #929695;
}

.fm-short-company.flexbox.middle-xs{display:inline-flex !important;}
.bottom{display:none;}
@media (max-width: 767px) {
#dzone-dropdown-menu.jm-menu>ul>li>a{ font-size:14px;}
.owl-controls{display:none !important;}
}